.animated-bg-canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.animated-bg-canvas canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.animated-bg-canvas__fallback {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    #87ceeb 0%,
    #6bb3e0 25%,
    #5ba3d0 50%,
    #7ec8e3 65%,
    #f4e4c1 80%,
    #e8d5a3 95%,
    #ddd0a0 100%
  );
}
